@{
    ViewData["Title"] = "Home Page";
    ViewBag.ApiBaseUrl = "https://localhost:7238/api/";

}
<div class="row">

    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            TOPLAM OGRENCI
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">4</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            TOPLAM OGRETMEN
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

  

    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            DUYURULAR
                        </div>
                        <div id="totalAnnouncements" class="h5 mb-0 font-weight-bold text-gray-800">0</div>

                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">



    <div class="col-lg-12 mb-4">
        <!-- Announcements -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Son Duyurular</h6>
            </div>
            <div class="card-body">
                <div id="announcementsList">

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>

    <script>
        var ApiBaseUrl = "@ViewBag.ApiBaseUrl";

        var token = localStorage.getItem("token");
        if (!token || token.trim() === "") {
            location.href = "/Home/Login";
        }
        $(document).ready(function () {
            $.ajax({
                url: ApiBaseUrl + "Announcement",
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    var announcementsList = $('#announcementsList');
                    $.each(data, function (index, announcement) {
                        var announcementHtml = '<div class="mb-4">' +
                            '<h5 class="font-weight-bold">' + announcement.title + '</h5>' +
                            '<p>' + announcement.content + '</p>' +
                            '</div>';
                        announcementsList.append(announcementHtml);
                        $('#totalAnnouncements').text(data.length);

                    });
                    $('#totalAnnouncements').text(data.length);

                },
                error: function (xhr, status, error) {
                    console.log('Error: ' + error);
                }
            });
        });
    </script>
}